h1 {
	color: navy;
}

body {
	text-align: center;
}

table {
	text-align: center;
	position: ;
	left: 50%;
	
}

table, td, th {
	border: 1px solid;
	font-size: 20px;
}

p {
	font-size: 20px;
}

th {
	color: navy;
}



.center {
	margin-left: auto;
	margin-right: auto;
}

/*changes background color to light pink if screen size is smaller than 400px*/

@media screen and (min-width: 400px) {
	body {
		background-color: lightpink;
	}
}

/*changes background color to light sky blue if screen is 800px plus*/
@media screen and (min-width: 800px) {
	body {
		background-color: lightskyblue;
	}
}

/*changes paragraph width to 550px if screen is smaller than 575px*/
@media (min-width: 575px) {
	p {
		width: 550px;
		margin-left: auto;
		margin-right: auto;
	}
}
/*causes image to shrink to space it has if viewport size is smaller then image*/
img  {
	max-width: 100%;
	display: block;
}