<!DOCTYPE html>
<html>
<head>
	<title>Week 1</title>
	<link rel="stylesheet" href="style.css">
	<script src="javascript.js"></script>
	<script> src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"</script>
</head>
	<body>
		<!-- heading -->
		<h1>Week 1</h1>
		<!--paragraph-->
		<p id="paragraph_1" onmousedown="MouseDown()" onmouseup="MouseUp()">This is a test paragraph</p>
		<!--image-->
		<img src="test_img.jpg" alt="stuff" width="50%">
		<br><br>
		<!--table-->
		<table class="center">
			<tr>
				<th>Team name</th>
				<th>Country of origin</th>
				<th>Bike brand</th>
			</tr>
			<tr>
				<td>Ineos Granadiers</td>
				<td>England</td>
				<td>Pinarello</td>
			</tr>
			<tr>
				<td>Education First</td>
				<td>USA</td>
				<td>Cannondale</td>
			</tr>
			<tr>
				<td>Bahrain victorious</td>
				<td>Bahrain</td>
				<td>Merida</td>
			</tr>
		</table>
		<br><br>
		<!--form-->
		<form>
			<label for="team_name">Enter a team name</label><br>
			<input type="text" id="team_name" name="team_name">
			<input type="submit" name="submit" id="submit">
		</form>
		<div>
			<button class="button" onclick="display_success_msg()">Click here for a message</button>
			<br><br><br>
			<p id="message"></p>
		</div>
		<div>
			<button onclick="popup()">Click this button</button>
			<p id="text_stuff"></p>
		</div>
		<br><br>
		<div id="app">
			<ul>
				<li v-for="item in items">{{ item }}</li>
			</ul>

			<input id="input" type="text" v-model="newItem">

			<button v-on:click="addItem">Add item</button>
		</div>
		<script>
			var app = new Vue({
				el: '#app',
				data : {
					items :['add milk', 'add sugar', 'add tea']
				},

				methods:{

					addItem() :{
						this.items.push(this.newItem);
						this.newItem = '';

					}
				}
			})
		</script>
	</body>
</html>